h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    padding: 10px 40px 10px 30px;
    background-color: #fff;
}

.navbar-brand {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.navbar-nav {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
}

.nav-item {
    padding: 20px;
}

.about-link:hover {
    color: #F15BB5;
}

.info-link:hover {
    color: #FEE440;
}

.links-link:hover {
    color: #00BBF9;
}

.projects-link:hover {
    color: #9B5DE5;
}

/* About */

#about {
    background-color: #F5F0F6;  
}

.about-row1 {
    height: 200px;
}

.about-row2 {
    height: 400px;
}

.about-row3 {
    height: 200px;
}

.about-row4 {
    height: 300px;
}

.about-row5 {
    height: 150px;
}

.about-row6 {
    height: 250px;
}

.about-col1 {
    padding: 0;
}

.yellow-square {
    background-color: #FEE440;
}

.pink-square {
    background-color: #F15BB5;
}

.about-text {
    background-color: #fff;
}

.about-title {
    margin: 2rem 0 4rem 2rem;
}

.about-paragraph {
    margin-left: 2rem;
}
