h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #2A2D34;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #2A2D34;
}

@media only screen and (max-width: 576px) {
    p {
        font-size: 0.8rem;
    }
}


a {
    text-decoration: none;
    color: #2A2D34;
}


footer {
    background-color: #2A2D34;
    color: #F5F0F6;
    text-align: center;
    padding: 1rem;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    padding: 10px 40px 10px 30px;
    background-color: #fff;
}

.navbar-brand {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.navbar-nav {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
}

.nav-item {
    padding: 20px;
}

/* About */

#about {
    background-color: #F5F0F6;  
}

.about-row1 {
    height: 200px;
}

.about-row2 {
    height: 400px;
}

.about-row3 {
    height: 200px;
}

.about-row4 {
    height: 300px;
}

.about-row5 {
    height: 150px;
}

.about-row6 {
    height: 250px;
}

.about-col1 {
    padding: 0;
}

.yellow-square {
    background-color: #FEE440;
}

.pink-square {
    background-color: #F15BB5;
}

.about-text {
    background-color: #fff;
}

.about-title {
    margin: 2rem 0 4rem 2rem;
}

.about-paragraph {
    margin-left: 2rem;
}

/* Info */

.info-row1 {
    height: 400px;
}

.info-row3 {
    height: 400px;
}

.info-title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.info-list {
    text-align: center;
}

.stan-list {
    background-color: #F5F0F6;
    text-align: center;
}

.stan-list-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Links */

#links {
    height: 400px;
    text-align: center;
}

.links-icon {
    font-size: 100px;
    margin-top: 150px;
    margin-bottom: 150px;
}

@media only screen and (max-width: 765px) {
    .links-icon {
        font-size: 50px;
        margin-top: 150px;
        margin-bottom: 150px;
    }
}

